@import url('https://fonts.googleapis.com/css?family=Lato');

.container {
  width: 400px;
  margin: 0 auto;
}

.accordion {
  max-width: 400px;
  font-family: Lato;
  margin-bottom: 20px;

  background-color: #ec5366;
  border-radius: 6px;
}

.accordion .header {
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 8px;
  position: relative;
  color: #fff;
  cursor: pointer;
}

.accordion .header-icon {
  position: absolute;
  top: 5px;
  right: 8px;
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.accordion .body {
  display: none;
  background-color: #fff;
  border: 10px solid #ec5366;
  padding: 8px;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.accordion.show .header-icon {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.accordion.purple {
  background-color: #8c618d;
}

.accordion.purple .body {
  border-color: #8c618d;
}
